body {
    background:url(https://preview.ibb.co/g6MVS9/gg.png);
    font-family:'PT Sans',Helvetica, Arial, sans-serif;
    color:#fff;
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 30px;
}
